
<!-- Đường link để xuất ảnh từ firebase: https://www.youtube.com/watch?v=I9BBGulrOmo&ab_channel=Cairocoders -->
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách nhân viên</title>
</head>
<body>
  <h1>Danh sách nhân viên</h1>
  <ul>
    {% for nhan_vien in nhan_vien.each() %}
      {% if nhan_vien.val()['Ten']%}
          <li>
              <strong>Tên:</strong> {{ nhan_vien.val()['Ten'] }}<br>
              <strong>Tuổi:</strong> {{ nhan_vien.val()['Tuoi'] }}<br>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
</body>
</html>


