<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    <header class="header">
        <nav class="nav container">
           <div class="nav__data">
              <a href="/welcome" class="nav__logo">
                 <i class="ri-planet-line"></i> Bệnh viện Bách Khoa
              </a>
              
              <div class="nav__toggle" id="nav-toggle">
                 <i class="ri-menu-line nav__burger"></i>
                 <i class="ri-close-line nav__close"></i>
              </div>
           </div>

           <!--=============== NAV MENU ===============-->
           <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                 <li><a href="/welcome" class="nav__link">Trang chủ</a></li>

                 <li class="dropdown__item">
                    <div class="nav__link">
                       Bệnh nhân <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                       <li>
                          <a href="/patient/patient_noi" class="dropdown__link">
                             <i ></i> Nội trú
                          </a>                          
                       </li>

                       <li>
                          <a href="/patient/patient_ngoai" class="dropdown__link">
                             <i></i> Ngoại trú
                          </a>
                       </li>

                    </ul>
                 </li>

                 <!--=============== DROPDOWN 1 ===============-->
                 <li class="dropdown__item">
                    <div class="nav__link">
                       Bác sĩ <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                       <li>
                          <a href="/doctor?source=a" class="dropdown__link">
                             <i ></i> Khoa cấp cứu
                          </a>                          
                       </li>

                       <li>
                          <a href="/doctor?source=b" class="dropdown__link">
                             <i></i> Khoa Nội
                          </a>
                       </li>

                       <li>
                        <a href="/doctor?source=c" class="dropdown__link">
                            <i></i> Khoa Ngoại
                        </a>
                     </li>

                     <li>
                        <a href="/doctor?source=d" class="dropdown__link">
                            <i></i> Khoa Răng hàm mặt
                        </a>
                     </li>

                     <li>
                        <a href="/doctor?source=e" class="dropdown__link">
                            <i></i> Khoa Tim mạch
                        </a>
                     </li>

                     <li>
                        <a href="/doctor?source=f" class="dropdown__link">
                            <i></i> Khoa Mắt
                        </a>
                     </li>

                    </ul>
                 </li>
                 
                 <li class="dropdown__item">
                    <div class="nav__link">
                       Dược phẩm <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                       <li>
                          <a href="/med/med_drink" class="dropdown__link">
                             <i ></i> Thuốc uống
                          </a>                          
                       </li>

                       <li>
                          <a href="/med/med_tool" class="dropdown__link">
                             <i></i> Dụng cụ
                          </a>
                       </li>
                    </ul>
                 </li>

                 <li class="dropdown__item">
                    <div class="nav__link">
                       Tài chính <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                       <li>
                          <a href="/fiancial/income" class="dropdown__link">
                             <i ></i> Thu nhập
                          </a>                          
                       </li>

                       <li>
                          <a href="/fiancial/expense" class="dropdown__link">
                             <i></i> Chi phí
                          </a>
                       </li>
                    </ul>
                 </li>

                 <!--=============== DROPDOWN 2 ===============-->
                 <li class="dropdown__item">
                    <div class="nav__link">
                       Users <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                       <li>
                          <a href="/dashboard" class="dropdown__link">
                             <i></i> Dashboard
                          </a>                          
                       </li>

                       <li>
                          <a href="/logout" class="dropdown__link">
                             <i></i> Log Out
                          </a>
                       </li>
                    </ul>
                 </li>

              </ul>
           </div>
        </nav>
     </header>
    <!--Nav end-->

    <section class="Featured">
        <div class="container featured-container">
            <div class="post-thumb">
                <img src="/static/img/benhvien.jpg" alt="">
            </div>
            <div class="post-info">
                <div class="category-btn">ADMIN</div>
                <h2 class="post-title"><a href="#">Chào mừng bạn đến với trang quản lí bệnh viện Bách khoa </a></h2>
                <p class="post-body>">Dựa trên nền tảng truyền thống,
                     các giá trị lớn của ngành y Việt Nam từ xưa đến nay,
                      đồng thời mong muốn mang lại cho người dân dịch vụ 
                      khám chữa bệnh chất lượng cao về y khoa, tiếp cận
                       phương pháp, kỹ thuật và phác đồ hiện đại, 
                       được hưởng các dịch vụ cao cấp như ở nước ngoài</p>

            </div>
        </div>
    </section>

    <section class="post">
        <div class="post-container container">
            <article class="post">
                <div class="post-thumb">
                    <img src="/static/img/benhnhan.jpg" alt="">
                </div>
                <div class="post-info">
                    <div class="category-btn">Khoa Cấp cứu</div>

                    <p class="postbody">Khoa có nhiệm vụ tiếp nhận, 
                        sàng lọc, đánh giá ban đầu và xử trí cấp cứu
                         người bệnh đến khám tại bệnh viện theo tình trạng ưu 
                         tiên cấp cứu. Ổn định người bệnh, hồi sức cấp cứu nội,
                          ngoại khoa, hồi sinh tim phổi nâng cao nếu người bệnh 
                          trong tình trạng nguy kịch, đe dọa tính mạng.
                    </p>
                </div>
            </article>
            
            <article class="post">
                <div class="post-thumb">
                    <img src="/static/img/giuong.jpg" alt="">
                </div>
                <div class="post-info">
                    <div class="category-btn">Khoa Nội</div>

                    <p class="postbody">Khoa có nhiệm vụ tiếp nhận, 
                        sàng lọc, đánh giá ban đầu và xử trí cấp cứu
                         người bệnh đến khám tại bệnh viện theo tình trạng ưu 
                         tiên cấp cứu. Ổn định người bệnh, hồi sức cấp cứu nội,
                          ngoại khoa, hồi sinh tim phổi nâng cao nếu người bệnh 
                          trong tình trạng nguy kịch, đe dọa tính mạng.
                    </p>
                </div>
            </article>

            <article class="post">
                <div class="post-thumb">
                    <img src="/static/img/hanhlang.jpg" alt="">
                </div>
                <div class="post-info">
                    <div class="category-btn">Khoa Ngoại</div>

                    <p class="postbody">Khoa có nhiệm vụ tiếp nhận, 
                        sàng lọc, đánh giá ban đầu và xử trí cấp cứu
                         người bệnh đến khám tại bệnh viện theo tình trạng ưu 
                         tiên cấp cứu. Ổn định người bệnh, hồi sức cấp cứu nội,
                          ngoại khoa, hồi sinh tim phổi nâng cao nếu người bệnh 
                          trong tình trạng nguy kịch, đe dọa tính mạng.
                    </p>
                </div>
            </article>

            <article class="post">
                <div class="post-thumb">
                    <img src="/static/img/phau_thuat.jpg" alt="">
                </div>
                <div class="post-info">
                    <div class="category-btn">Khoa Răng Hàm Mặt</div>

                    <p class="postbody">Khoa có nhiệm vụ tiếp nhận, 
                        sàng lọc, đánh giá ban đầu và xử trí cấp cứu
                         người bệnh đến khám tại bệnh viện theo tình trạng ưu 
                         tiên cấp cứu. Ổn định người bệnh, hồi sức cấp cứu nội,
                          ngoại khoa, hồi sinh tim phổi nâng cao nếu người bệnh 
                          trong tình trạng nguy kịch, đe dọa tính mạng.
                    </p>
                </div>
            </article>

            <article class="post">
                <div class="post-thumb">
                    <img src="/static/img/phongkham.jpg" alt="">
                </div>
                <div class="post-info">
                    <div class="category-btn">Khoa Tim Mạch</div>

                    <p class="postbody">Khoa có nhiệm vụ tiếp nhận, 
                        sàng lọc, đánh giá ban đầu và xử trí cấp cứu
                         người bệnh đến khám tại bệnh viện theo tình trạng ưu 
                         tiên cấp cứu. Ổn định người bệnh, hồi sức cấp cứu nội,
                          ngoại khoa, hồi sinh tim phổi nâng cao nếu người bệnh 
                          trong tình trạng nguy kịch, đe dọa tính mạng.
                    </p>

                </div>
            </article>

            <article class="post">
                <div class="post-thumb">
                    <img src="/static/img/walk.jpg" alt="">
                </div>
                <div class="post-info">
                    <div class="category-btn">Khoa Mắt</div>

                    <p class="postbody">Khoa có nhiệm vụ tiếp nhận, 
                        sàng lọc, đánh giá ban đầu và xử trí cấp cứu
                         người bệnh đến khám tại bệnh viện theo tình trạng ưu 
                         tiên cấp cứu. Ổn định người bệnh, hồi sức cấp cứu nội,
                          ngoại khoa, hồi sinh tim phổi nâng cao nếu người bệnh 
                          trong tình trạng nguy kịch, đe dọa tính mạng.
                    </p>
                </div>
            </article>
        </div>
    </section>



    <footer>
        <div class="footer-social">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="container footer-container">
            <article>
                <h4>Chuyen Khoa</h4>
                <ul>
                    <li><a>Khoa Cap cuu</a></li>
                    <li><a>Khoa Noi</a></li>
                    <li><a>Khoa Ngoai</a></li>
                    <li><a>Khoa Mat</a></li>
                    <li><a>Khoa Tim mach</a></li>
                    <li><a>Khoa Rang ham mat</a></li>
                </ul>
            </article>

            <article>
                <h4>Support</h4>
                <ul>
                    <li><a>Email</a></li>
                    <li><a>Phone number</a></li>
                    <li><a>Manager</a></li>
                    <li><a>Remote</a></li>
                </ul>
            </article>
            <article>
                <h4>Online</h4>
                <ul>
                    <li><a>Home</a></li>
                    <li><a>About</a></li>
                    <li><a>Services</a></li>
                    <li><a>Blog</a></li>
                    <li><a>Location</a></li>
                </ul>
            </article>
        </div>
        
        <div class="footer-copyright">
            Copyright &copf; Kaitoo Desu
        </div>

    </footer>

    <script src="/static/main.js"></script>

</body>
</html>