<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BK Hospital</title>

    <link rel="icon" href="/static/logo.png">

    <link rel="stylesheet" href="/static/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    <header class="header">
        <nav class="nav container">
           <div class="nav__data">
              <a href="/welcome" class="nav__logo">
                 <i class="ri-planet-line"></i> Bệnh viện Bách Khoa
              </a>
              
              <div class="nav__toggle" id="nav-toggle">
                 <i class="ri-menu-line nav__burger"></i>
                 <i class="ri-close-line nav__close"></i>
              </div>
           </div>

           <!--=============== NAV MENU ===============-->
           <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                 <li><a href="/welcome" class="nav__link">Trang chủ</a></li>

                 <li class="dropdown__item">
                    <div class="nav__link">
                       Bệnh nhân <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                       <li>
                          <a href="/patient/patient_noi" class="dropdown__link">
                             <i ></i> Nội trú
                          </a>                          
                       </li>

                       <li>
                          <a href="/patient/patient_ngoai" class="dropdown__link">
                             <i></i> Ngoại trú
                          </a>
                       </li>

                    </ul>
                 </li>

                 <!--=============== DROPDOWN 1 ===============-->
                 <li class="dropdown__item">
                    <div class="nav__link">
                       Bác sĩ <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                       <li>
                          <a href="/doctor?source=a" class="dropdown__link">
                             <i ></i> Khoa cấp cứu
                          </a>                          
                       </li>

                       <li>
                          <a href="/doctor?source=b" class="dropdown__link">
                             <i></i> Khoa Nội
                          </a>
                       </li>

                       <li>
                        <a href="/doctor?source=c" class="dropdown__link">
                            <i></i> Khoa Ngoại
                        </a>
                     </li>

                     <li>
                        <a href="/doctor?source=d" class="dropdown__link">
                            <i></i> Khoa Răng hàm mặt
                        </a>
                     </li>

                     <li>
                        <a href="/doctor?source=e" class="dropdown__link">
                            <i></i> Khoa Tim mạch
                        </a>
                     </li>

                     <li>
                        <a href="/doctor?source=f" class="dropdown__link">
                            <i></i> Khoa Mắt
                        </a>
                     </li>

                    </ul>
                 </li>
                 
                 <li class="dropdown__item">
                    <div class="nav__link">
                       Dược phẩm <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                       <li>
                          <a href="/med/med_drink" class="dropdown__link">
                             <i ></i> Thuốc uống
                          </a>                          
                       </li>

                       <li>
                          <a href="/med/med_tool" class="dropdown__link">
                             <i></i> Dụng cụ
                          </a>
                       </li>
                    </ul>
                 </li>

                 <li class="dropdown__item">
                  <div class="nav__link">
                     Tài chính <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                  </div>

                  <ul class="dropdown__menu">
                     <li>
                        <a href="/fiancial/income" class="dropdown__link">
                           <i ></i> Thu nhập
                        </a>                          
                     </li>

                     <li>
                        <a href="/fiancial/expense" class="dropdown__link">
                           <i></i> Chi phí
                        </a>
                     </li>
                  </ul>
               </li>

                 <!--=============== DROPDOWN 2 ===============-->
                 <li class="dropdown__item">
                    <div class="nav__link">
                       Users <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                       <li>
                          <a href="/dashboard" class="dropdown__link">
                             <i></i> Dashboard
                          </a>                          
                       </li>

                       <li>
                          <a href="/logout" class="dropdown__link">
                             <i></i> Log Out
                          </a>
                       </li>
                    </ul>
                 </li>

              </ul>
           </div>
        </nav>
     </header>
    <!--Nav end-->



    <div class="patient_input">
      <form action="/med_logic" method="POST">

        <select id="med" name="med">
            <option value="med_drink">Thuốc</option>
            <option value="med_tool">Vật tư</option>
        </select><br>

         <label for="name"><strong>Tên</strong></label><br>
         <input type="text" id="name" name="name"><br>

         <label for="name_supply"><strong>Nhà cung cấp</strong></label><br>
         <input type="text" id="name_supply" name="name_supply"><br>

         <label for="num"><strong>Số lượng</strong></label><br>
         <input type="number" id="num" name="num"><br>

         <label for="date"><strong>Ngay</strong></label><br>
         <input type="date" id="date" name="date"><br>

         <input type="submit" value="Submit" class="submit">
       </form>
   </div>


    <script src="/static/main.js"></script>

</body>
</html>